/*author: Bangal*/
.pagination{
    display: flex;
    justify-content: center;
    
}
.btn-close{
    text-indent:-9999px;
    text-transform:capitalize;
}
.body-registrar{
    background-color: #ffffff;

    
}

body{
    border-radius: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 5vh;
}
.h1-card{
    margin-bottom: 5vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #157347; 
    text-align:center;
    text-transform: uppercase;
    
}

.card-body2{
    width: 64vh;
	margin-left: 10vh;
    margin-right: 10vh;
    margin: 10vh auto;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
}


.card-body{
    width: 55vh;   
	margin: 10vh auto;
    padding: 20px;
	position: relative;
    color:black;
    border-top: #157347 solid 3vh;
}

.form-control{
    background: rgba(0, 0, 0, 0.1);
}

.button-registrar{
    display: flex;
    justify-content: center;
    padding: 5vh;
}

.button-registrar input{
    width: 100%;
}


.h1-card-login{
    margin-bottom: 5vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0d6efd; 
    text-align:center;
    text-transform: uppercase;
    
}
.card-body-login{
    width: 55vh;   
	margin: 10vh auto;
    padding: 20px;
	position: relative;
    color:black;
    border-top: #0d6efd solid 3vh;
}

.button-login{
    display: flex;
    justify-content: center;
    padding: 5vh;
}

.button-login input{
    width: 100%;
}

.boton-atras{
    text-decoration: none;
}

.img{
    display: flex;
    justify-content:end;
    margin-left: 5vh;
}


.flow{
    display: flex;
    flex-direction: row;
    margin-left: 8vh;
    margin-right: 8vh;
}

.comptador{
    /*background: #1fbbae;*/
    background: #157347;
	width: 200px;
	border-radius: 5px;
	padding: 30px;
	margin: 30px auto; 
	text-align: center;
    
    color:white;
    font-size:30px  ;
}

.tito-imatge{
    text-align: center;
}



.cos-img{
    margin-top: -2vh;
}
  
.container-flow{
    display:flex;
    flex-direction: row;
}

.article{
    display: flex;
    justify-content:center;
}

.card-title{
    text-align: center;
}

.see-more{
    display: flex;
    justify-content: center;
}
